<link rel="stylesheet" href="/stylesheets/home.css">

<div class="container-fluid text-center">
    <div class="row align-items-center mt-5 mb-5">
        <div class="col-7">
            <div class="fw-bold fs-2 text-header">Curating Flowers for Weddings and Special Occasions</div>
            <div>
                <button class="btn quote-btn fw-bold">Get a Free Quote</button>
            </div>
        </div>
        <div class="col-5 ">
            <div class="card me-0 me-lg-5 rounded-5">
                <img src="/images/home/bridal_bouquet__10362.jpg" class="card-img-top img-fluid rounded-5 flower-image"
                    alt="...">
            </div>
        </div>
    </div>
</div>


<div class="container-fluid text-center text-comment subheading-bg pt-2 pb-2">
    Gracefully adorning remarkable events since 2020
</div>


<div class="container-fluid bannerpink">
    <div class="row align-items-center pt-5 pb-5">
        <div class="col d-flex justify-content-end">
            <div class="card ms-0 ms-lg-5 rounded-5 ">
                <img src="/images/home/home-2nd.jpg" class="card-img-top img-fluid rounded-5 flower-image" alt="...">
            </div>
        </div>
        <div class="col text-center">
            <div class="fw-bold fs-2 text-header">Customize Special Bouquets</div>
            <div>
                <button class="btn quote-btn bannerpink-btn">Customize Now</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid text-center text-comment subheading-bg pt-2 pb-2">
    Dive into our testimonials
</div>


<div class="container-fluid text-center ">
    <div class="row align-items-center pt-5 pb-5 ms-5 me-5">
        <div class="col-md-3">
            <div class="card border-0 fw-semibold fs-2 text-header banner3-card rounded-5">What clients have to say about Sublime</div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/images/home/bridal_bouquet__10362.jpg" class="card-img-top" alt="Image">
                <div class="card-img-overlay">
                    <div class="card-text">
                        Text to display on hover
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/images/home/bridal_bouquet__10362.jpg" class="card-img-top" alt="Image">
                <div class="card-img-overlay">
                    <div class="card-text">
                        Text to display on hover
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/images/home/bridal_bouquet__10362.jpg" class="card-img-top" alt="Image">
                <div class="card-img-overlay">
                    <div class="card-text">
                        Text to display on hover
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>