$primary: #522192;
//import to customize:
@import"//node_modules/bootstrap/scss/_functions";
@import"//node_modules/bootstrap/scss/_variables";




$custom-theme-colors:(
    $primary: #522192,
    "pink": #522192,
    "comment": #6f8281,
    "dditem": #676767
);

// $theme-colors:map-merge($custom-theme-colors, $theme-colors);

//import bootstrap
@import'//node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root{
    --bs-body-font-family: "Poppins", sans-serif;
}
